*{
    margin:0;
    padding: 0;
}
.contenedor{
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #f3f5fc;
}
.texto{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top:15%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: #f3f5fc;

}
.texto::placeholder{
    color:#0a3871;

}
.texto:focus,
.texto:active{
    border:none;
    outline: none;
}
.terminos{
    display:flex;
    flex-direction: row;
    align-items: center;
    padding:0px;
    gap:8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top:80%;
   }

   .terminos p{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:#495057;
    opacity: 0.8;
    flex:none;
    order: 1px;
    flex-grow:0 ;
   }
.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top:82%;
}
.bt-encriptar{
  
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap:8%;
    width: 15%;
    background-color: #0a3871; 
    border-radius: 24px;
    font-family: "Inter";
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #fff;  
    
}
.bt-desencriptar{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 2%;
  gap:8px;
  width: 15%;
  background-color: #0a3871;  

  border: 1px solido #0a3871;
  border-radius: 24px;
  font-family: "Inter";
  font-weight: 10;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color:#fff;
}
.bt-limpiar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap:8px;
    width: 15%;
    background-color: #0a3871;  
   border: 1px solido #0a3871;
   border-radius: 24px;
   font-family: "Inter";
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   text-align: center;
   color:#fff


}

.bt-desencriptar:hover,
.bt-encriptar:hover, 
.bt-limpiar:hover {
    margin: 0.3%;
    width: 15%;
    padding: 1.8%;
    background: lightblue;
    color:black;	

}  
.encriptado{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left:60%;
    top:5%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    border-radius: 32px;

}
.mencriptado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap:16px;
    position: absolute;
    width: 100%;
    top:65%;
    text-align: center;

}

.mencriptado h2{
    width: 60%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
   
}
.mencriptado p {
    width: 80%;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;

}
.encriptado img{
    position: absolute;
    width: 80%;
    height:50%;
    top:15%;
}
/* aplicamos responsive */
@media (max-width: 57.5em){
	.contenedor{
	   display:flex;		
	   flex-direction: row;
	}
	.encriptar{
	   width:100%;
	}
	.texto{
	width:80%;
	height:60%;
	left:10%;
	top:5%;
	
	}
	.terminos{
	   width:80%;
	   left:10%;
	   top:67%;
	}
	.terminos p{
	  font-size:16px;
	}
	.botones{
	  width:80%;
	  left:10%;
	  top:70%;
	}
	.bt-encriptar,
	.bt-desencriptar,
	.bt-limpiar{
	    width:48%;
	     border-radius:16px;
	}
	.bt-encriptar:hover,
	.bt-desencriptar:hover,
	.bt-limpiar:hover{
	  margin:03%;
	  width:47.5%;
	  padding: 1.8%;	
	}
	.encriptado{
	  width:80%;
	  height:15%;
	  left:10%;
	  top:80%;
	}
	.mencriptado{
	   width:100%;
	   top:5%;
	}
	.encriptado img{
	  top:0;
	  display:none;
	  visibility:hidden;
	}

}
.footer{

   background: #ebe7e0;
   display: flex;
   height: 40px;
   display: flex;
   justify-content: space-around;
   padding: 10px;
   font-family: "Inter";
   font-style: normal;   	
}


